extends includes/layout

block content
  if theme.category_ui == 'index'
    include includes/mixins/post-ui
    #recent-posts.recent-posts.category_ui
      +postUI
      include includes/pagination
  else
    include includes/mixins/article-sort
    #category
      .article-sort-title= _p('page.category') + ' - ' + page.category
      +articleSort(page.posts)
      include includes/pagination