case theme.comments.use[0]
  when 'Twikoo'
    include twikoo
  when 'Disqus'
  when 'Disqusjs'
    include disqus
  when 'Valine'
    include valine
  when 'Waline'
    include waline
  when 'Facebook Comments'
    include fb
  when 'Remark42'
    include remark42
  when 'Artalk'
    include artalk