if theme.mathjax && theme.mathjax.enable
  if theme.mathjax.per_page
    if is_post() || is_page()
      include mathjax
  else
    if page.mathjax
      include mathjax

if theme.katex && theme.katex.enable
  if theme.katex.per_page
    if is_post() || is_page()
      include katex
  else
    if page.katex
      include katex

if theme.mermaid.enable
  include mermaid