if theme.chatra && theme.chatra.enable
  include chatra
else if theme.tidio && theme.tidio.enable
  include tidio
else if theme.daovoice && theme.daovoice.enable
  include daovoice
else if theme.gitter && theme.gitter.enable
  include gitter
else if theme.crisp && theme.crisp.enable
  include crisp
else if theme.messenger && theme.messenger.enable
  include messenger